<template>
  <div class="rk_choix">
    <h2>Veuillez choisir un niveau de difficulté</h2>
    <button v-on:click="nvSelectionne('Facile', 16, 120)" type="button" name="Facile">
      Facile
    </button>
    <button v-on:click="nvSelectionne('Moyen', 28, 180)" type="button" name="Moyen">
      Moyen
    </button>
    <button v-on:click="nvSelectionne('Difficle', 36, 240)" type="button" name="Difficle">
      Difficle
    </button>
  </div>
</template>

<script>
export default {
  name: 'choixDifficulte',
  methods: {
    // j'émets au composant parent les données relatives au niveau choisis
    nvSelectionne(nv, cases, tps) {
      this.$emit('selection-nv', nv, cases, tps);
    },
  },

};
</script>

<!-- L'attribut scoped peremet d'utiliser le css uniquement dans ce composant -->
<style lang="scss" scoped>
$mainColor: #41b883;
$secondaryColor:#35495D;
button {
  background-color: $mainColor;
  border: none;
  color: $secondaryColor;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin:5px;
  transition:all 0.4s;
  cursor:pointer;
  &:hover {
    color: $mainColor;
    background-color: $secondaryColor;
  }
}
</style>
