<template>
  <div class="rk_jeu_container">
    <div class="rk_grille_jeu">
      <!-- Composant qui gère le temps restant (timer et progress bar)
      src => components/tempsRestant.vue -->
      <tempsRestant @temps-ecoule="finDePartie" :tempsTotal="niveau.temps"/>

      <!-- Je crée une div pour chaque carte en mettant l'index de la
      valeur de la carte en attribut idCarte pour que sa valeur
      n'apparaisse pas en html -->
      <div class="rk_carte"  :style="{ width: widthCarte + 'px', height: heightCartes + 'px'}"
      v-for="(cartes, indexCarte) in tableauCartes"
      @click="jouerCarte" :idCarte="indexCarte" :key="indexCarte">
      <div class="rk_flip_cart_content">
        <div class="rk_flip_cart_front">
        </div>
        <div class="rk_flip_cart_back">
        </div>
      </div>
    </div>
  </div>
</div>
</template>

<script>
import tempsRestant from './tempsRestant.vue';

export default {
  name: 'jeu',
  props: {
    niveau: Object,
    urlApi: String,
    statut: String,
    tpsVisibiliteCarte: Number,
  },
  components: {
    tempsRestant,
  },
  data() {
    return {
      widthCarte: 0,
      heightCartes: 0,
      tableauCartes: [],
      tableauComparaison: [],
      nbCoups: 0,
      cartesTrouves: 0,
      peutJouer: true,
      test: 0,
    };
  },
  mounted() {
    this.creationTableau();
    this.initialisationDesCartes();
  },
  methods: {
    initialisationDesCartes() {
      // j'initialise la hauteur et la largeur des cartes en fonction du nombre de cartes en jeu
      const containerCartes = document.querySelector('.rk_grille_jeu');
      const containerWidth = containerCartes.clientWidth;

      // explication calcul :
      // (largeur du container / (nombre de cartes / nombre de ligne)) - pixels d'espace
      this.widthCarte = (containerWidth / (this.niveau.cases / 4)) - 10;
      // width = height pour avoir un carré
      this.heightCartes = this.widthCarte;
    },
    creationTableau() {
      // les cartes vont par paire donc je divise le nombre de cartes par deux
      // puis, je créer un  tableau contenant le nombre de cartes restantes
      for (let tabInc = 0; tabInc < (this.niveau.cases / 2); tabInc += 1) {
        this.tableauCartes[tabInc] = tabInc;
      }

      // Pour recréer les paires je double le tableau
      this.tableauCartes = this.tableauCartes.concat(this.tableauCartes);

      // Enfin je mélange le tableau
      this.tableauCartes = this.tableauCartes.sort(() => Math.random() - 0.5);
    },
    jouerCarte(e) {
      // pour une meilleure lisibilité je mets carte actuelle dans une constante
      const carteActuelle = e.target.closest('.rk_carte');

      // je regarde si la carte n'a pas déjà été trouvé et si elle n'est pas la carte 1
      if (this.peutJouer === true && !carteActuelle.classList.contains('found') && !carteActuelle.classList.contains('active')) {
        // je compte le nombre de coups joués pour le score final
        this.nbCoups += 1;

        // j'active la carte
        carteActuelle.classList.toggle('active');

        // afin de ne pas pouvoir tricher j'ai stocké en html
        // l'index du tableau (tableauCartes)
        // Je récupère donc la vraie valeur des cartes
        // puis, je l'ajoute au tableau de comparaison
        const idCarte = this.tableauCartes[carteActuelle.getAttribute('idCarte')];
        this.tableauComparaison.push(idCarte);

        // on ajoute l'attribut imgId afin d'afficher la bonne image en css
        carteActuelle.setAttribute('imgId', idCarte);

        // si le joueur a sélectionné deux cartes nous les comparons
        if (this.tableauComparaison.length === 2) {
          // j'empêche le joueur de jouer tant que les cartes ne sont pas retournées
          this.peutJouer = false;
          // je lance la methode de comparaison
          this.comparerCartes();
        }
      }
    },
    comparerCartes() {
      const cartes = document.getElementsByClassName('active');

      // si les valeurs correspondent c'est que les cartes sont identiques
      if (this.tableauComparaison[0] === this.tableauComparaison[1]) {
        // si les valeurs correspondent je définis les cartes comme trouvés
        cartes[1].classList.add('found');
        cartes[0].classList.add('found');
        // je compte le nombre de cartes trouvés
        this.cartesTrouves += 2;
      }
      // sinon on reinitalise juste les cartes
      // je laisse 2 secondes (2000 millisecondes) afin que le joueur retienne la carte
      setTimeout(() => {
        cartes[1].classList.remove('active');
        cartes[0].classList.remove('active');
        this.tableauComparaison = [];
        this.peutJouer = true;
        // si le joueur les a toutes trouvé la partie est terminée
        if (this.cartesTrouves === this.niveau.cases) {
          this.finDePartie();
        }
      }, 1200);
    },
    finDePartie() {
      this.$emit('fin-de-partie', this.niveau.cases, this.cartesTrouves, Math.round(this.$children.[0].tempsRestant), this.nbCoups);
    },
  },
};
</script>

<style lang="scss" scoped>
$imageH : 5.88235294118%;
$mainColor: #41b883;
$secondaryColor:#35495D;

.rk_grille_jeu {
  display:flex;
  flex-wrap: wrap;
  max-width:750px;
  margin:auto;
  .rk_carte {
    background-color: transparent;
    margin:5px;
    perspective: 1000px;
    .rk_flip_cart_content {
      position: relative;
      width: 100%;
      height: 100%;
      text-align: center;
      transition: transform 0.8s;
      transform-style: preserve-3d;
    }

    &.active .rk_flip_cart_content, &.found .rk_flip_cart_content{
      transform: rotateY(180deg);
    }

    .rk_flip_cart_front, .rk_flip_cart_back {
      position: absolute;
      width: 100%;
      height: 100%;
      -webkit-backface-visibility: hidden; /* Safari */
      backface-visibility: hidden;
      border:solid 1px $secondaryColor;
      border-radius: 15px;
    }

    .rk_flip_cart_front{
      background: url('../assets/question.png');
      background-size:cover;
    }

    .rk_flip_cart_back {
      background-color: dodgerblue;
      color: white;
      transform: rotateY(180deg);
    }
  }
}

// Pour chaques carte avec l'attribut imgid
@for $i from 0 through 18 {
  .rk_carte[imgid="#{$i}"] {
    .rk_flip_cart_back {
      background: url('../assets/cartes.png') center ($imageH * $i) no-repeat;
      background-size:cover;
    }
  }
}
</style>
