<template>
  <div class="rk_score_final">
    <h2 v-if="(infos.nbCasesTotal - infos.nbCasesTrouves) === 0">Bravo</h2>
    <h2 v-else > ahahahah t'as perdu !</h2>
    <div>
      Tu as mis {{(infos.niveauActuel.temps - infos.tpsRestant)}} secondes
    </div>
    <div>
      pour trouver {{infos.nbCasesTrouves}} cartes
    </div>
    <div>
      En essayant {{infos.nbCoups}} fois !
    </div>
    <div>
      Pas trop nul pour le niveau {{infos.niveauActuel.niveau}} ...
    </div>
    <form id="form_pseudo" v-if="!postReussi && !postError"
    @submit="postClassement"
    method="post"
    >
    <label for="pseudo">Entre ton pseudo puis valide ton score si tu
      veux faire partie du classement internationnal !</label>
      <input id="pseudo" placeholder="Pseudo" v-model="pseudo"
      type="text" name="pseudo">

      <input type="submit" value="Enregistrer mon score">
    </form>
    <div v-else-if="!postReussi && postError">
      <p>oh noooooooo !!!!! Erreur lors de l'enregistrement de ton score,
         vérifie que mongodb est bien lancé sur ta machine et réessaie ! </p>
    </div>
    <div v-else >
      <p>Ton score est enregistré !</p>
    </div>
  </div>
</template>

<script>

// Afin de gèrer les requettes liées à l'api j'utilise le client http axios
const axios = require('axios').default;

export default {
  name: 'scoreFinal',
  props: {
    infos: Object,
    urlApi: String,
  },
  data() {
    return {
      pseudo: '',
      postReussi: false,
      postError: false,
      tpsRestant: this.infos.niveauActuel.temps - this.infos.tpsRestant,
    };
  },
  methods: {
    postClassement(e) {
      // je prépare les données afin de les envoyer par methode POST
      e.preventDefault();
      axios({
        method: 'post',
        url: this.urlApi,
        data: {
          joueur: this.pseudo,
          coups: this.infos.nbCoups,
          temps: this.tpsRestant,
          casesTrouves: this.infos.nbCasesTrouves,
          difficulte: this.infos.niveauActuel.niveau,
        },
      }).then((response) => {
        // si le score est bien enregistré en bdd
        if (response.data.message === 'Score ajouté avec succès !') {
          this.postReussi = true;
        } else {
          this.postError = true;
        }
      });
    },
  },

};
</script>

<style lang="scss" scoped>
#form_pseudo {
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  padding:25px;
}
</style>
