<template>
  <div class="rk_tableau">
    <div class="rk_btn_scores" v-on:click="toggleMenu">
      <i class="fas fa-star"></i>
    </div>
    <table>
      <thead>
        <tr>
          <th colspan="5">Meilleurs scores</th>
        </tr>
        <tr>
          <th colspan="1">Pseudo</th>
          <th colspan="1">Temps</th>
          <th colspan="1">Coups</th>
          <th colspan="1">Case trouvés</th>
          <th colspan="1">Niveau</th>
        </tr>
      </thead>
      <tbody>
        <tr class="" v-for="score in scores" :key="score._id">
          <td >
            {{score.pseudo}}
          </td>
          <td >
            {{score.coups}}
          </td>
          <td >
            {{score.temps}}
          </td>
          <td >
            {{score.casesTrouves}}
          </td>
          <td >
            {{score.difficulte}}
          </td>
        </tr>
      </tbody>
    </table>

  </div>
</template>

<script>
export default {
  name: 'tableauDesScores',
  props: {
    scores: Array,
  },
  methods: {
    // ouvre et ferme le menu des scores en ajoutant/supprimant la class opened
    toggleMenu() {
      const btnMenu = document.getElementsByClassName('rk_tableau');
      btnMenu[0].classList.toggle('opened');
    },
  },

};
</script>

<style lang="scss" scoped>
$mainColor: #41b883;

.rk_tableau {
  position:fixed;
  background-color:$mainColor;
  transition:all 0.4s;
  padding:20px;
  top:50%;
  right:0;
  transform: translateY(-50%) translateX(100%);
  &.opened{
    transform: translateY(-50%) translateX(0%);
  }
  .rk_btn_scores {
    content:" ";
    position:absolute;
    background:$mainColor;
    width:50px;
    height:50px;
    top:0;
    left:0;
    transform: translateX(-100%);
    border-radius: 50% 0 0 50% ;
    display:flex;
    align-items: center;
    justify-content: center;
    i {
      font-size: 20px;
      color:white;
    }
  }
  td {
    padding:5px 20px;
  }
}

</style>
