<template>
  <div class="barre_progression_container">
    <span class="barre_progression_text">{{Math.round(tempsRestant)}}s</span>
    <span class="barre_progression" :style="{ 'width': pourcentageRestant + '%' }" ></span>
  </div>
</template>

<script>
export default {
  name: 'tempsRestant',
  props: {
    tempsTotal: Number,
  },
  data() {
    return {
      pourcentageRestant: 100,
      tempsRestant: this.tempsTotal,
    };
  },
  created() {
    // Produit en croix afin de savoir combien de pourcent je retire en 0.5s
    // en fonction du temps total
    const decrementation = (100 * 0.5) / this.tempsTotal;

    // l'interval permet d'executer un code toutes les x millisecondes
    this.interval = setInterval(() => {
      // je décrémente les pourcentages restant
      this.pourcentageRestant -= decrementation;

      // je décrémente le temps restant
      this.tempsRestant -= 0.5;

      // si il ne reste plus de temps je le dis au composant parent
      if (this.tempsRestant === 0) {
        this.$emit('temps-ecoule');
      }
    }, 500);
  },

};
</script>

<style lang="scss" scoped>
.barre_progression_container {
  width: 100%;
  background-color: #e0e0e0;
  padding: 3px;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, .2);
  margin-bottom:20px;
  .barre_progression {
    display: block;
    height: 22px;
    background-color: #659cef;
    border-radius: 3px;
    transition: width 500ms ease-in-out;
  }
  .barre_progression_text {
    position:absolute;
    font-weight:bold;
    line-height: 100%;
    font-size: 20px;
  }
}

</style>
