<template>
  <div id="app">
    <h1>Jeu memory</h1>
    <!-- Composant permettant au joueur de choisir la difficulté
    src => components/choixDifficulte.vue -->
    <choixDifficulte v-if="statut == 'selection difficulté'" @selection-nv="selectionDeNiveau"/>

    <!-- Composant qui gère la totalité du jeu
    src => components/jeu.vue -->
    <jeu @fin-de-partie="finDePartie"  v-if="statut == 'en jeu'"
    :niveau="niveau"  :urlApi="urlApi" />

    <!-- Composant permettant d'afficher le tableau des scores
    src => components/scores.vue -->
    <tableauDesScores :scores="scoreData"/>

    <!-- Composant permettant d'afficher le résultat de fin de jeu
    src => components/scores.vue -->
    <scoreFinal :infos="infosFinPartie" v-if="statut == 'fin de partie'"
    :urlApi="urlApi"/>

    <!-- Bouton pour retourner aux choix de difficulté à tous moments -->
    <button v-if="statut !== 'selection difficulté'"
    v-on:click="debutDePartie" type="button" name="redémarrer">
    Retour au choix de difficulté
  </button>

</div>
</template>

<script>
// j'importe les composants nécessaires au jeu
import jeu from './components/jeu.vue';
import choixDifficulte from './components/choixDifficulte.vue';
import tableauDesScores from './components/scores.vue';
import scoreFinal from './components/scoreFinal.vue';

// Afin de gérer les requêtes liées à l'api j'utilise le client http axios
const axios = require('axios').default;

/** **************************************************
**** Explication du fonctionnement d'un composant **
****************************************************
* @export default :
* Permet d'exporter le composant et
* le rend visible lorsqu'on l'importe
*
* @components :
* Permet d'utiliser les composants importés
*
* @props :
* Défini les propriétés utilisés à la création du composant
*
* @data :
* Défini les propriétés utilisés par notre composant
*
* @methods :
* Ici on défini les méthodes de notre composant
*
* @mounted,created,destroyed etc .. =
* Hooks par défaut de vue
*
*/

export default {
  name: 'App',
  components: {
    jeu,
    choixDifficulte,
    tableauDesScores,
    scoreFinal,
  },
  data() {
    return {
      niveau: {},
      infosFinPartie: {},
      statut: '',
      urlApi: 'http://127.0.0.1:3000/score',
      scoreData: [],
    };
  },
  methods: {
    // Envoie le joueur aux choix de difficulté et met à jour le classement
    debutDePartie() {
      // quand le composant est monté je récupère les scores
      axios.get(this.urlApi).then((response) => {
        this.scoreData = response.data.scores;
      });
      this.statut = 'selection difficulté';
    },
    /*
    * Met fin à la partie
    *
    * @nbCasesTotal : Nombre total de cases à trouver
    * @nbCasesTrouves : Nombre de cases trouvé par le joueur
    * @tpsRestant : Temps qu'il restait au joueur en fin de partie
    * @nbCoups : Total de coups joué par le joueur
    *
    */
    finDePartie(nbCasesTotal, nbCasesTrouves, tpsRestant, nbCoups) {
      const niveauActuel = this.niveau;
      this.infosFinPartie = {
        nbCasesTotal, nbCasesTrouves, tpsRestant, nbCoups, niveauActuel,
      };
      this.statut = 'fin de partie';
    },
    /*
    * Lance la partie en fonction du niveau selectioné
    *
    * @niveau : niveau de difficulté
    * @cases : Nombre de cases du niveau
    * @temps : Temps de la partie
    *
    */
    selectionDeNiveau(niveau, cases, temps) {
      this.niveau = { niveau, cases, temps };
      this.statut = 'en jeu';
    },
  },
  mounted() {
    this.debutDePartie();
  },
};
</script>

<style lang="scss">
$mainColor: #41b883;
$secondaryColor:#35495D;

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  text-align: center;

  button, input[type="submit"] {
    background-color: $mainColor;
    border: none;
    color: $secondaryColor;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin:5px;
    transition:all 0.4s;
    cursor:pointer;
    &:hover {
      color: $mainColor;
      background-color: $secondaryColor;
    }
  }
}

</style>
